<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGENDA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
    crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/77f94d7116.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand mx-auto">AGENDA</a>
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4 text-center">
                <table class="table table-striped">
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                    </tr>
                    <% for(var i = 0; i < personas.length; i++){ %>
                        <tr>
                            <td><%= personas[i].nombre%></td>
                            <td><%= personas[i].correo%></td>
                            <td><%= personas[i].telefono%></td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('title').focus();
    </script>

</body>
</html>